* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {

    padding: 0 10px;
    width: 100%;
    margin-inline: auto;
    max-width: 1300px;
}
a {
  text-decoration: none;
  padding: 10px;
}
nav{

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav .container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo img {
  width: 130px;
}
.nav-text {
  line-height: 19.6px;
  color: #1c1d1f;
}
.nav-text:hover {
  color: blue;
}
nav input {
  min-width: 200px;
  padding: 20px 20px 20px 50px;
  width: 100%;
  border-radius: 50px;
  outline: none;

  border: 2px solid #1c1d1f;
}
.search {
  flex-grow: 1;
  color: #1c1d1f;
  position: relative;
}
.search:after {
    color: #1c1d1f;
  content: "";
  background-image: url(img/magnifying-glass-solid.svg);
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 20px;
  width: 20px;
  aspect-ratio: 1/1;
}
.login{
    padding: 10px;
    font-weight: bold;
    color: black;
    border: 1px solid black;

}
.singup{
    padding:10px ;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    margin-left: 10px;
    background-color: black;
}
.cart{
    color: #1c1d1f;

}
.globe{
    padding: 10px;
    margin-left: 10px;
    border: 1px solid black;
    color: #1c1d1f;
}
header{
    display: flex;
    align-items: center;

    margin-inline: auto;
    margin-inline:auto ;
    height: 400px;
    background-image: url('img/ff300b96-b107-41d9-aaf6-51434a83b35e\ \(1\).jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;

}
header div{
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    margin: 100px;
    background-color: white;
    display: inline-block;
    
}
.heading{
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: #1c1d1f;
}
.main{
    margin-top: 30px;
    display: flex;
    padding: 20px;
    flex-direction: column;
}
.c-type{
    display: flex;

    margin-top: 10px;
    font-weight: bold;
    color:#6a6f73 ;
}
.c-type p{
    margin-right:10px ;
}
.c-type p:hover{
    color: black;
    cursor: pointer;
}
.active{
    color: black;
}
.c-section{
    margin-top:20px ;
    border: 2px solid #1c1d1f;
padding: 20px;
}

.explore{
    margin-top: 50px !important;
    padding: 10px;
    font-weight: bold;
    color: black;
    border: 1px solid black;
}





.n-text{
    margin-bottom: 20px;
}






.course{
    display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.course-cart {
margin-top: 20px;
    width: 100%;

}
.course a{
    width: 25%;
}
.course-cart img{
    width: 100%;
}
.c-text{
    color: #1c1d1f;
    font-weight: bold;


}
.m-text{
color:#1c1d1f
;
}
.rating{
    color: rgb(255, 145, 0) !important;
}
.rating span{
    color:#1c1d1f;

}
.amount{
    color: #1c1d1f;

}
.amount span{
    text-decoration:line-through;
    margin-left: 5px;
}


.more-info{
    margin-top: 30px;
    background-color: #f7f9fa;
    color:#1c1d1f;     
}
.more-info .container{
    display: flex;
    justify-content: space-between;

}
.info1{
    display: flex;
    width: 30%;
    align-items: center;
}
.info-icon{
    margin: 20px;
padding: 20px;
    font-size: 20px;
    width: 50px;
    background-color: #d1d7dc;
   height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.student-view{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}
.student-view p{
    margin-bottom: 10px;
}
.bestseller{
    background-color: #eceb98;
    color:#3d3c0a;
    margin-top: 10px;
 padding: 5px;
    width: fit-content;
}



.top-cat{
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

}
.cat{
    width: 23%;
    aspect-ratio: 1/1;
   
    margin: 10px;

}
.cat-img{
    background-color: #e2e6ea;
    width: 100%;
    height: 100%;
}.cat-img img{
    width: 100%;
    
}
.cat p{
    color: black;
    margin-left:20px  20px 0 0;
    font-weight: bold;
}
.cat:hover .cat-img img{
    width: 105%;

}

.feature{
    margin-top: 50px;
    background-color: #f7f9fa;
}
.f-cat{
    padding-left: 20px;
    display: flex;
    flex-direction: column;

}
.all-cat{
    display: flex;
}
.cat-list{
    width: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.cat-list a{
    text-decoration: underline;
    font-weight: bold;
}
.cat-list p{
    margin: 5px 10px;
}
.c-bold{
    padding-top: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}
.f-e{
   padding: 10px;
   border: 1px solid black;
   width: fit-content;
   font-weight: bold;
   margin: 30px ;
   margin-bottom: 70px;
}
.f-e a{
    color: black;

}


.company{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.company p{
    text-align: center;
    margin: 10px;
}
.company-img{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    
}

.business{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    
    
}
.b-left{
    margin-top: 40px;
    width: 40%;
    margin-left: 50px

}
.b-left img{
    width: 50%;
    margin-top20px: ;
}
.b-left p{
    margin-top: 20px;
}
.b-left ul{
    margin: 50px 0;
}
.b-left ul li{
margin: 15px;
}
.b-right{

    padding: 20px;
    width: 50%;
}
.b-right img{
    width: 100%;
 
}

.teacher{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;

}
.t-left{
    width: 45%;
}
.t-right{
    width: 45%;
}
.t-left img{
    width: 100%;

}
.t-right p{
    margin: 40px 0;
}


.footer{
    display: flex;
  flex-direction: column;  
  padding: 20px;
  color: white;
  background-color: black;

}
.footer .f-upper{
margin-top: 20px;
    display: flex;margin-bottom: 100px;
    justify-content: space-between;

}

.f-upper ul li {
    margin: 10px;
    color: white;
    list-style: none;

}
.f-upper ul li:hover{
    text-decoration: underline;
}
.f-upper ul li a{
    color: white;
}
.f-upper p{
height: fit-content;
padding: 10px;
    border: 1px solid white;
    width: fit-content;
}
.f-upper p i{
    margin-left: 5px;
}
.f-lower{
    margin: 30px;
    display: flex;
    justify-content: space-between;
}
.f-lower img{
    width: 100px;
}

@media only screen and (max-width: 1080px) {
    .nav-text{
        display: none;
    }
  }

  @media only screen and (max-width: 1080px) {
    .c-type{
        flex-wrap: wrap;
        
    }
    .course a{
        width:48%;
    }
    .cat{
        width: 40%;
    }
    .cat-list{
        width: 50%;
    }
    .all-cat{
        flex-wrap: wrap;
    }
    .business{
        flex-direction: column-reverse;
        width: 80%;
        
    }
    .business .b-left ,.b-left{
        width: 100%;

    }
    .business .b-right{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .teacher{
        flex-direction: column;
        width: 80%;
    }
    .t-left{
        width: 100%;
    }
    .t-right{
        width: 100%;
    }
    .f-upper{
        flex-wrap: wrap;

    }
    .f-upper ul{
        width: 50%;




    }
  }
  @media only screen and (max-width: 650px) {

    .search{
        display: none;
    }
    nav .container{
        justify-content: space-between;
    }
    nav .login{
        justify-self: flex-end;
        justify-content: flex-end;
    }
    nav .singup{
        justify-self: flex-end;
    }
  }

  @media only screen and (max-width: 600px) {

    .c-type{
        flex-wrap: wrap;
        
    }
    .course{
    align-items: center;
    justify-content: center;
    }
    .course a{
        width:80%;
    }
    .top-cat{
        align-items: center;
        justify-content: center;
    }
    .cat{
        width: 80%;
    }
    .cat-list{
        width: 80%;
    }
    .all-cat{
        flex-wrap: wrap;
    }
    .business{
        flex-direction: column-reverse;
        width: 80%;
        
    }
    .business .b-left ,.b-left{
        width: 100%;

    }
    .business .b-right{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .teacher{
        flex-direction: column;
        width: 80%;
    }
    .t-left{
        width: 100%;
    }
    .t-right{
        width: 100%;
    }
    .f-upper{
        flex-wrap: wrap;

    }
    .f-upper ul{
        width: 50%;




    }

    .more-info .container{
        flex-direction: column;

    }
    .info1{
        width: 100%;
    }
    header div{
        padding: 10px;
    }
  }